.profileSec {
    margin-top: 80px;
    margin-bottom: 15px;
    height: fit-content;
    
}
.profileSec > div:first-child {
    color: white;
    text-align: center;
}
.profileSec > h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}